.tasks {
  margin: 0;
  padding: 15px;
  list-style-type: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item {
  flex-grow: 1;
}

.list__item--done {
  text-decoration: line-through;
}

.list__button {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  color: #fff;
  border: none;
  flex-shrink: 0;
}
.list__button--done {
  cursor: pointer;
  background-color: #008000;
}

.list__button--done:hover {
  background-color: #00a000;
}

.list__button--remove {
  cursor: pointer;
  background-color: red;
}

.list__button--remove:hover {
  background-color: #ff4d4d;
}
