html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
}

.container {
  max-width: 1000px;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.header {
  margin: 0;
}
