html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: lightgray;
}

.container {
  align-items: center;
  padding: 50px;
  margin: 0 auto;
}

.header {
  margin: 0;
}
